@charset "UTF-8";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/functions";

// 2. Include any default variable overrides here
$success: #F8AFA6;
$primary: #F7D4E0; //Rose Quartz
$text-navbar: darken($primary, 20);
$text-hover-navbar: #FD7AC0; //Hot Pink

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
//@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
//@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
//@import "bootstrap/card";
//@import "bootstrap/accordion";
//@import "bootstrap/breadcrumb";
//@import "bootstrap/pagination";
@import "bootstrap/badge";
//@import "bootstrap/alert";
//@import "bootstrap/progress";
//@import "bootstrap/list-group";
@import "bootstrap/close";
//@import "bootstrap/toasts";
@import "bootstrap/modal";
//@import "bootstrap/tooltip";
//@import "bootstrap/popover";
//@import "bootstrap/carousel";
//@import "bootstrap/spinners";
//@import "bootstrap/offcanvas";

// Helpers
@import "bootstrap/helpers";

// Utilities
@import "bootstrap/utilities/api";

// 5. Add additional custom code here

.btn-primary {
  color: $text-navbar;
  &:hover {
    color: $text-hover-navbar;
  }
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: font-url('montserrat.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.bg-image {
  background-image: -webkit-image-set(
    image-url('background.webp') 1x,
    image-url('background@2x.webp') 2x);
  background-image: image-set(
    image-url('background.webp') 1x,
    image-url('background@2x.webp') 2x);
  background-size: cover;
}

html {
  height: 100%;
  scroll-padding-top: calc(4.5rem - 1px);
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page-section {
  padding: 6rem 0;

  .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
}

@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;

    &:first-child {
      margin-right: 1rem;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }

  .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }

  &.divider-light {
    .divider-custom-line {
      background-color: #fff;
    }

    .divider-custom-icon {
      color: #fff;
    }
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;

  .navbar-brand {
    color: $text-navbar;
  }

  .navbar-nav {
    margin-top: 1rem;

    li.nav-item a.nav-link {
      color: $text-navbar;

      &:hover {
        color: $text-hover-navbar;
      }

      &:active, &:focus {
        color: $text-navbar;
      }

      &.active {
        color: $text-hover-navbar;
      }
    }
  }

  button {
    color: $text-hover-navbar;
  }

  #navbarDropdownMenuLink {
    padding-top: .75rem!important;
    padding-bottom: .75rem!important;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;

    .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }

    .navbar-nav {
      margin-top: 0;

      > li.nav-item > a.nav-link.active {
        color: #fff;
        background: $text-hover-navbar;

        &:active, &:focus, &:hover {
          color: #fff;
          background: $text-hover-navbar;
        }
      }
    }

    &.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

.form-floating {
  input.form-control, textarea.form-control {
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
  }

  input.form-control:focus, textarea.form-control:focus {
    box-shadow: none;
  }

  label {
    font-size: 1.5rem;
    color: #6c757d;
  }
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;

  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  .masthead-subheading {
    font-size: 1.25rem;
  }

  .masthead-avatar {
    width: 20rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;

    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }

    .masthead-subheading {
      font-size: 1.5rem;
    }
  }
}

.gallery .gallery-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;

  .gallery-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);

    &:hover {
      opacity: 1;
    }

    .gallery-item-caption-content {
      font-size: 1.5rem;
    }
  }
}

.gallery-modal {
  .btn-close {
    color: #1abc9c;
    font-size: 2rem;
    padding: 1rem;
  }

  .modal-body {
    .gallery-modal-title {
      font-size: 2.25rem;
      line-height: 2rem;
    }

    h3 {
      text-align: left;
    }

    p {
      text-align: justify;
    }
  }
}

@media (min-width: 992px) {
  .gallery-modal .gallery-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}
